*{
    margin: 0;
    padding: 0;
    font-family: 'Yusei Magic', sans-serif; 
    box-sizing: border-box;
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;
}
body{
    background-color: #f3f3f3;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    height: 140px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
    z-index: 10;
    background: #DD4124
}

header .logo{
    position: relative;
    font-size: 36px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
header .logo:hover{
    color: #ffeb3b;
}
header .navigation{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
}
header .navigation li{
    list-style: none;
    margin: 0 10px;
}
header .navigation li a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 1px;
}
header .navigation li a:hover{
    color: #ffeb3b;
}
header .buttons{
    position: relative;
    width: 205px;
    height: 40px;
    left: 111px;
    color: #fff;
}

header .buttons a .fa{
    color: #fff;
    padding-right: 5px;
}
header .buttons a .fa:hover{
    color: #ffeb3b;
}




.container{
    width: 100%;
    height: auto;
    padding-top: 132px;
    position: relative;
    display: flex;
    
    text-align: center;
}
.main1{
    width: 60%;
   height: 100%;
   margin-top: 20px;
}
.kece{
    height: auto;
}
.tela{
    height: auto;
    
}
.bestseller{
    width: 20%;
    height: 1050px;
    
}
.bestseller h2{
    margin-top: 20px;
    text-align: center;
}
.sellergalery{
    position: relative;
    margin: 5px;
   
    width: 250px;
    
}
.sellergalery:hover{
    border: 2px solid #777;
    
}
.sellergalery a img{
    width: 100%;
    height: auto;
    position: relative; 
}
.desc{
    padding:15px;
    text-align: center;
    font-size: 21px;
}
.space2{
  position: relative;
    width: 20%;
    height: auto;
}


.footer{
  position:fixed;
  width: 100%;
  bottom: 0;
  height: auto;
  width: 100vw;
  color: #fff;
  background-color: #DD4124;
}

.footer-bottom{
  background: #DD4124;
  width: 100vw;
  text-align: center;
}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}


@media (max-width:767px) {
  .lightbox-gallery h2 {
      margin-bottom: 25px;
      padding-top: 25px;
      font-size: 24px
  }
}

@media (max-width: 1280px){
  .sellergalery{
      width: 90%;
  }  
  .tela{
    position: relative;
    right: 170px;
  }
}

@media (max-width: 991px){
  header{
      padding: 10px 20px;
      flex-direction: column;
  }
  header .logo{
      font-size: 26px;
  }

  header .buttons a .fa{
      width: 15%;
      position: relative;
      right: 55px;
  }
  
  
  
  
  
}

@media (max-width: 600px){
  header .buttons a .fa{
      position: relative;
      right: 55px;
      width: 15%;
      bottom: 4px;
  }
  header .navigation li a{
    font-size: 17px;
  }
  
}
@media (max-width: 400px){
header .buttons a .fa{
    position: relative;
    right: 45px;
    width: 14%;
    bottom: 1px;
}
header .navigation li a{
  font-size: 14px;
}
.bestseller h2{
  font-size: 15px;
}
.desc{
  font-size: 15px;
}
}






































@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }
  
  
  
  
  *::-webkit-scrollbar {
    width: 0;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  * {
    -ms-overflow-style: none;
  }
  
  ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .carousel {
    position: relative;
    padding-top: 45%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
    max-width: 48.5rem;
    left: 170px;
    
  }
  
  .carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  
  .carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    background-color: #f99;
    counter-increment: item;
  }
  
  .carousel__slide:nth-child(even) {
    background-color: #99f;
  }
  
  .carousel__slide:before {
    content: counter(item);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-40%,70px);
    color: #fff;
    font-size: 2em;
  }
  
  .carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
  }
  
  @media (hover: hover) {
    .carousel__snapper {
      animation-name: tonext, snap;
      animation-timing-function: ease;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
  
    .carousel__slide:last-child .carousel__snapper {
      animation-name: tostart, snap;
    }
  }
  
  @media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
      animation-name: none;
    }
  }
  
  .carousel:hover .carousel__snapper,
  .carousel:focus-within .carousel__snapper {
    animation-name: none;
  }
  
  .carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
  }
  
  .carousel__navigation-list,
  .carousel__navigation-item {
    display: inline-block;
  }
  
  .carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #333;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
  }
  
  .carousel::before,
  .carousel::after,
  .carousel__prev,
  .carousel__next {
    position: absolute;
    top: 0;
    margin-top: 37.5%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
  }
  
  .carousel::before,
  .carousel__prev {
    left: -1rem;
  }
  
  .carousel::after,
  .carousel__next {
    right: -1rem;
  }
  
  .carousel::before,
  .carousel::after {
    content: '';
    z-index: 1;
    background-color: #333;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
  }
  
  .carousel::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
  }
  
  .carousel::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
  }

